<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ wireframe.title }}</title>
</head>
<body>
    {% for element in wireframe.elements %}
    <div>
        {% if element.type == 'rectangle' %}
            <p>Rectangle - ID: {{ element.id }} | X: {{ element.x }} | Y: {{ element.y }} | Width: {{ element.width }} | Height: {{ element.height }}</p>
        {% elif element.type == 'text' %}
            <p>Text - ID: {{ element.id }} | Text: {{ element.text }} | X: {{ element.x }} | Y: {{ element.y }}</p>
        {% endif %}
    </div>
{% endfor %}
</body> 
</html>
